<ion-content [fullscreen]="true">
  <ion-card
    style="height: 100%; padding: 0; margin: 0; width: 100%"
    class="background-image-card"
  >
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">Tyron Wayne Moodley</ion-card-title>
      <ion-card-subtitle class="card-subtitle typewriter-subtitle">
        Junior JavaScript/Blockchain Developer
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="card-content typewriter-content">
      <p>
        I am a dedicated ICT Application Development graduate with a strong
        foundation in programming languages and web development. With hands-on
        experience in application design, coding, testing, and deployment, I
        excel in collaborating with cross-functional teams to deliver
        high-quality solutions. Skills include JavaScript, Python, SQL, C#,
        React, Angular, AWS, and cybersecurity, among others. I'm proactive,
        adaptable, and committed to staying updated with emerging technologies.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
