<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Development Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Development Portfolio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Skills Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Skills</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ul class="skills-list">
                <li>JavaScript</li>
                <li>Python</li>
                <li>SQL</li>
                <li>C#</li>
                <li>Ionic Framework</li>
                <li>Angular</li>
                <li>AWS/AWS Lambda</li>
                <li>Typescript</li>
              </ul>
            </ion-col>
            <ion-col size="6">
              <ul class="skills-list">
                <li>Cybersecurity</li>
                <li>Network Configuration</li>
                <li>Mobile App Development (Android Studio)</li>
                <li>Git / Git version control</li>
                <li>Agile</li>
                <li>PostgreSQL</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Experience Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Experience</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Centbee Experience -->
        <strong>Centbee Global (Pty) Ltd</strong><br />
        <p>
          <em>Junior JavaScript/Blockchain Developer || Current Position</em>
        </p>
        <p></p>
        <ul>
          <li>
            Built, designed, and managed multiple pages on the
            <a href="https://www.centbee.com" target="_blank">Centbee</a>
            website, maintained the employee dashboard, and implemented features
            aligned with user needs.
          </li>
          <li>
            Developed dynamic pages on the company dashboard using JavaScript
            and the Angular/Ionic Framework, enhancing user experience and
            functionality.
          </li>
          <li>
            Designed and implemented AWS Lambda functions along with API
            gateways, enabling seamless integration of backend processes with
            the dashboard’s frontend.
          </li>
          <li>
            Utilized PostgreSQL to generate reports and create SQL queries,
            optimizing data management and retrieval processes.
          </li>
          <li>
            Managed and resolved wallet support tickets for the Bitcoin SV
            Wallet, providing timely and effective customer support.
          </li>
        </ul>

        <!-- Gravaton Experience -->
        <strong>Gravaton – Cape Town</strong><br />
        <p><em>Consulting || Reason for Leaving: Part-time Employment</em></p>
        <p></p>
        <ul>
          <li>Installed LoRaWAN Network infrastructure.</li>
          <li>
            Installed and configured LoRaWAN gateways for the Helium network.
          </li>
          <li>Created 3D design models for project applications.</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <!-- Qualification and Certifications -->
    <ion-card class="content-card">
      <ion-card-header>
        <ion-card-title>Qualifications & Certifications</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        My latest qualification is in ICT Application Development (Advanced
        Diploma), accompanied by certifications in programming and web
        development. I am committed to advancing my knowledge and skill set to
        keep up with industry standards. Additionally, I have been accepted into
        a Postgraduate Diploma in Industrial Engineering with a focus on Data
        Science at the University of Stellenbosch, which I will be completing
        part-time (2025).
      </ion-card-content>
    </ion-card>

    <!-- University Projects Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>University Projects</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul class="project-list">
          <li>
            <strong>Restaurant Management Web Application</strong> - Developed
            with C# .NET.
          </li>
          <li>
            <strong>Library Management Web Application</strong> - Developed with
            C# .NET.
          </li>
          <li>
            <strong>Driving School Management Web Application</strong> -
            Developed with C# .NET.
          </li>
          <li>
            <strong>University Tutor Application</strong> - Developed with
            Python.
          </li>
          <li>
            <strong>University Student Support Mobile Application</strong> -
            Created with Java.
          </li>
          <li>
            <strong>Lego Minigame</strong> - Created using the Unity engine.
          </li>
        </ul>
      </ion-card-content>
    </ion-card>

    <!-- Research Completed Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Research Completed</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <li>
          <strong>Research Concept Note:</strong><br />
          Developed a model for using the Helium network to provide 5G network
          coverage in rural areas.
        </li>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
