<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Development Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Development Portfolio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Skills Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Skills</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>JavaScript, Python, SQL, C#, React, Angular, AWS, Azure, Cybersecurity, Network Configuration, Mobile App
          Development (Android Studio), Git, Agile, Scrum, HTML, CSS, and more.</p>
      </ion-card-content>
    </ion-card>


   
    <!-- University Projects Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>University Projects</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>
            <strong>Restaurant Management Web Application</strong> - Developed as part of a team using C# .NET.
          </li>
          <li>
            <strong>Library Management Web Application</strong> - Developed as part of a team using C# .NET.
          </li>
          <li>
            <strong>Driving School Management Web Application</strong> - Developed as part of a team using C# .NET.
          </li>
          <li>
            <strong>University Tutor Application</strong> - Developed as part of a team using Python.
          </li>
          <li>
            <strong>University Student Support Mobile Application</strong> - Developed with an online store and private
            messaging in Java.
          </li>
          <li>
            <strong>Lego Minigame</strong> - Created using the Unity engine.
          </li>
        </ul>
      </ion-card-content>
    </ion-card>

    <!-- Research Completed Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Research Completed</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          <strong>Research Concept Note:</strong><br>
          Developed a model for the use of the Helium network to provide 5G network coverage in rural areas.
        </p>
      </ion-card-content>
    </ion-card>

    <!-- Experience Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Experience</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Junior JavaScript/Blockchain Developer at Centbee Global(Pty) Ltd</strong><br>
        Built designed and managed multiple pages on the <a href="https://www.centbee.com" target="_blank">Centbee</a> website,
        built and maintained the employee dashboard,
        implemented features that align with user needs, and collaborated on blockchain-related projects.
      </p>
    </ion-card-content>
  </ion-card>

  </div>
</ion-content>